/* universal selector */
* {
    margin: 0;
    padding: 0;
}

/* tag selector, class selector, id selector */
/* tag selector */
/* .login-container {
    background-color: #320169;
    width: 100%;
} */

input {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
}

span {
    color: #868686;
}

/* 320169 */

a {
    color:#212529;
    text-decoration: none;
}


/* id selector */
#form-container {
    background-color: #ffffff;
    width: 25%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border-radius: 10px;
    box-shadow: #212529 3px 3px 8px;

    /* position */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* class selectors */
.input-f {
    background-color: #dadada;
}

.btn input {
    background-color: #212529;
    color:#dadada;
    font-weight: 600;
}

h2 {
    color: #212529;
    font-weight: 500;
    font-size: 1.7em;
}