{% extends 'base.html' %}
{% block title %}
Register
{% endblock %}

{% block content %}
<div>
    <!-- update form -->
    <form method="POST" action="{% url 'profile_edit' %}" class="form-container">
        {% csrf_token %}
        <h2>User Profile</h2>
        <div class="mb-3">
            <input type="text" name="first_name" class="form-control" id="exampleFormControlInput1"
                placeholder="First Name" value="{{ first_name }}">
        </div>
        <div class="mb-3">
            <input type="text" name="last_name" class="form-control" id="exampleFormControlInput1"
                placeholder="Last Name" value="{{ last_name }}">
        </div>
        <div class="mb-3">
            <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="Email"
                value="{{ email }}">
        </div>
        <button type="submit" class="btn btn-secondary">Update</button>
    </form>


    <!-- reset password -->
    <br><br>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Change
        Password</button>

    <form action="{% url 'change_password' %}" method="post" class="form-control">
        {% csrf_token %}
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Change Password</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <!-- <input type="password" placeholder="Old password" class="form-control"> -->
                        <input type="password" placeholder="New password" class="form-control" name="password">
                        <input type="password" placeholder="Confirm password" class="form-control" name="confirm_password">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Change</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
{% endblock %}